<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day 4 | To-Do Page</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://kit.fontawesome.com/160edd8076.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" id="app">
        <div class="menu">

                <input type="text" class="search-bar" placeholder="Search">
                
                <div class="title">
                    <h6>REMINDERS</h6>
                    <i class="fas fa-caret-right"></i>
                </div>

                <div class="title">
                    <h6>TO-DO LIST</h6>
                    <i class="fas fa-caret-right"></i>
                </div>

                <div class="title active">
                    <h6>SHOPPING LIST</h6>
                    <i class="fas fa-caret-right"></i>
                </div>

                <div class="title">
                    <h6>OTHER</h6>
                    <i class="fas fa-caret-right"></i>
                </div>
            </div>
        
        <div class="content-list">
            <div class="content active" @click="change">
                <h5>GROCERIES</h5>
                <i class="fas fa-ellipsis-v"></i> 
            </div>

        <div class="content-wrapper" v-if="wrapperState">
            <ul>
                <li>
                    <p>Butter</p>
                </li>
            <li>
                    <p>Orange Juice</p>
              </li>
              <li>
                    <p>Cheese</p>
             </li>
             <li>
                    <p>Chocolate</p>
             </li>
             <li>
                    <p>Butter</p>
             </li>
             <li>
                    <p>Corn Flakes</p>
             </li>
             <li>
                    <p>Potatoes</p>
             </li>
             <li>
                    <p>Apples</p>
             </li>
         </ul>
     </div>
                   
            <div class="content" @click="change">
                <h5>ELECTRONICS</h5>
                <i class="fas fa-ellipsis-v"></i>
             </div>

             <div class="content-wrapper" v-if="!wrapperState">
                <ul>
                    <li>
                        <p>Butter</p>
                    </li>
                <li>
                      <p>Orange Juice</p>
                  </li>
                  <li>
                        <p>Cheese</p>
                 </li>
                 <li>
                     <p>Chocolate</p>
                 </li>
                 <li>
                     <p>Butter</p>
                 </li>
                 <li>
                     <p>Corn Flakes</p>
                 </li>
                 <li>
                     <p>Potatoes</p>
                 </li>
                 <li>
                     <p>Apples</p>
                 </li>
             </ul>
         </div>

             <div class="content">
                <h5>BOOKS</h5>
                <i class="fas fa-ellipsis-v"></i>
            </div> 

            <div class="content">
                <h5>CAR</h5>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
    </div>
    <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="app.js"></script>    
</body>
</html>